dcma-batch/src/main/resources/META-INF/dcma-batch/schema/batch/BatchClass.xsd

<?xml version="1.0" encoding="utf-8" ?>
	<!--
		Created with Liquid XML Studio Developer Edition (Trial) 8.0.11.2171
		(http://www.liquid-technologies.com)
	-->
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BatchClasses">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BatchClass" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CurrentUser" type="xs:string" />
							<xs:element name="Description" type="xs:string" />
							<xs:element name="Identifier" type="xs:string" />
							<xs:element name="Name" type="xs:string" />
							<xs:element name="UncFolder" type="xs:string" />
							<xs:element name="Version" type="xs:string" />
							<xs:element name="Priority" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
