dcma-batch/src/main/resources/META-INF/dcma-batch/schema/batch/Hocr.xsd

<?xml version="1.0" encoding="utf-8" ?>
	<!--
		Created with Liquid XML Studio Developer Edition (Trial) 8.0.11.2171
		(http://www.liquid-technologies.com)
	-->
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Common.xsd" />
	<xs:element name="HocrPages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HocrPage" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PageID" type="xs:string" />
							<xs:element name="Title" type="xs:string" />
							<xs:element name="Spans">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Span" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Value" type="xs:string" />
													<xs:element name="Coordinates" type="coordinates" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="HocrContent" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
