dcma-batch/src/main/resources/META-INF/dcma-batch/schema/batch/UserInformation.xsd

<?xml version="1.0" encoding="utf-8" ?>
	<!--
		Created with Liquid XML Studio Developer Edition (Trial) 8.0.11.2171
		(http://www.liquid-technologies.com)
	-->
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="UserInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FirstName" type="xs:string" />
				<xs:element name="LastName" type="xs:string" />
				<xs:element name="Email" type="xs:string" />
				<xs:element name="Password" type="xs:string" />
				<xs:element name="CompanyName" type="xs:string" />
				<xs:element name="PhoneNumber" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
