trunk/dcma-batch/src/main/resources/META-INF/dcma-batch/schema/batch/BatchInstance.xsd

<?xml version="1.0" encoding="utf-8" ?>
	<!--
		Created with Liquid XML Studio Developer Edition (Trial) 8.0.11.2171
		(http://www.liquid-technologies.com)
	-->
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BatchInstances">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BatchInstance" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BatchName" type="xs:string" />
							<xs:element name="CurrentUser" type="xs:string" />
							<xs:element name="ExecutedModules" type="xs:string" />
							<xs:element name="LocalFolder" type="xs:string" />
							<xs:element name="ReviewOperatorName" type="xs:string" />
							<xs:element name="ValidateOperatorName" type="xs:string" />
							<xs:element name="Identifier" type="xs:string" />
							<xs:element name="UncSubFolder" type="xs:string" />
							<xs:element name="RemoteBatchInstanceId" type="xs:string" />
							<xs:element name="ServerIP" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
