trunk/dcma-batch/src/main/resources/META-INF/dcma-batch/schema/batch/WebServiceParams.xsd

<?xml version="1.0" encoding="utf-8" ?>
	<!--
		Created with Liquid XML Studio Developer Edition (Trial) 8.0.11.2171
		(http://www.liquid-technologies.com)
	-->
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WebServiceParams">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Params">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="xs:string" />
										<xs:element name="Value" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
